
.node-base {
    background: #333;
    width: 190px;
    font-size: 14px;
    border-radius: 5px;
    transition: box-shadow 180ms;
    box-shadow: 0px 0px 20px #0006;
    position: absolute;
    z-index: 2;
    user-select: none;
    cursor: move;

    &:active {
        box-shadow: 0px 0px 30px #000b;
      }
    &.selected {
        box-shadow: 0 0 0 2pt rgb(129, 129, 129),
                    0px 0px 20px #0006;

        &:active {
            box-shadow: 0 0 0 2pt rgb(129, 129, 129),
            0px 0px 30px #000b;
        }
      }

      &:hover .close {
        opacity: 1;
      }
}


.node-title {
    width: 100%;
    height: 30px;
    background-color: rgb(50, 101, 229);
    padding: 8px;
    font-weight: bold;
    border-radius: 5px 5px 0px 0px;
    display: flex;
    justify-content: space-between;

    .close {
        background: rgba(0, 0, 0, 0.432);
        margin: -8px;
        width: 30px;
        text-align: center;
        padding-top: 5px;
        border-radius: 0 5px 0 0;
        box-sizing: border-box;
        display: inline-block;
        opacity: 0;
        transition: opacity 0.2s;

        &:hover {
            background-color: rgb(157, 0, 0);
            cursor: pointer;
        }
    }
}

.node-content {
    padding: 8px 8px 8px 14px;
}
