<svg class="connection input-number output-number socket-input-number-value socket-output-number-value">
    <defs>
        <linearGradient gradientUnits="userSpaceOnUse" gradientTransform="rotate(90)" id="grad" x1="0%" x2="100%" y1="0%" y2="0%">
          <stop class="stop1" offset="5%" />
          <stop class="stop2" offset="95%"/>
        </linearGradient>
        <linearGradient gradientTransform="rotate(45)" id="gradb">
          <stop class="stop1" offset="5%" />
          <stop class="stop2" offset="95%"/>
        </linearGradient>
      </defs>
    <path #linkPath class="main-path" d="M 270 255 C 362 255 408 370 500 370" stroke="url('#gradb')"></path>
</svg>