.node-editor-grid {
    background-color: #222;
    background-size: 40px 40px;
    background-image:
        linear-gradient(to right, #333 2px, transparent 2px),
        linear-gradient(to bottom, #333 2px, transparent 2px);
    position: relative;
    transform-origin: 0 0;
    top: 0;
    left: 0;
}
